@model IEnumerable<TrabPrático.Models.Loja>

@{
    ViewData["Title"] = "Index";
}

<h1>Loja</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>Nome da Loja</a>
            </th>
            <th>
                <a>Nome do Jogo</a>
            </th>
            <th style="text-align: center">
                <a>Logo da Loja</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo.Nome)
            </td>
            <td style="text-align: center">
                <a href="@Html.DisplayFor(modelItem => item.Link)" ><img src="~/fotoloja/@Html.DisplayFor(modelItem => item.ImagemLoja) "
                                                                                        width="150"
                                                                                        alt="Fotografia do @Html.DisplayFor(modelItem => item.Nome)"
                                                                                        title="@Html.DisplayFor(modelItem => item.Nome)" /></a>    
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLoja">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLoja">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLoja">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
